<!DOCTYPE html>
<html>
<head>
<style>
body {
  counter-reset: section;
}

h2::before {
  counter-increment: section;
  content: "Section " counter(section) ": ";
}
</style>
</head>
<body>

<h1>Using CSS Counters Duong Tuan Nghia 2021050472</h1>

<h2>HTML Tutorial Duong Tuan Nghia 2021050472</h2>
<h2>CSS Tutorial Duong Tuan Nghia 2021050472</h2>
<h2>JavaScript Tutorial Duong Tuan Nghia 2021050472</h2>
<h2>Python Tutorial Duong Tuan Nghia 2021050472</h2>
<h2>SQL Tutorial Duong Tuan Nghia 2021050472</h2>
body {
    counter-reset: section;
  }
  
  h1 {
    counter-reset: subsection;
  }
  
  h1::before {
    counter-increment: section;
    content: "Section " counter(section) ". ";
  }
  
  h2::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
  }
  ol {
    counter-reset: section;
    list-style-type: none;
  }
  
  li::before {
    counter-increment: section;
    content: counters(section,".") " ";
  }
</body>
</html>

