<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>

<h1>This is a heading Duong Tuan Nghia-2021050472</h1>
<p>This is a paragraph. Duong Tuan Nghia-2021050472</p>
body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  h1 {
    color: maroon;
    margin-left: 40px;
  }

  <h1 style="color:blue;text-align:center;">This is a heading Duong Tuan Nghia-2021050472</h1>
<p style="color:red;">This is a paragraph. Duong Tuan Nghia-2021050472</p>
</body>
</html>