<!DOCTYPE html>
<html>
<head>
<style>
p {outline-color:red;}

p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}
</style>
</head>
<body>

<h2>The outline-style Property Duong Tuan Nghia-2021050472</h2>

<p class="dotted">A dotted outline Duong Tuan Nghia-2021050472</p>
<p class="dashed">A dashed outline Duong Tuan Nghia-2021050472</p>
<p class="solid">A solid outline Duong Tuan Nghia-2021050472</p>
<p class="double">A double outline Duong Tuan Nghia-2021050472</p>
<p class="groove">A groove outline. The effect depends on the outline-color value. Duong Tuan Nghia-2021050472</p>
<p class="ridge">A ridge outline. The effect depends on the outline-color value. Duong Tuan Nghia-2021050472</p>
<p class="inset">An inset outline. The effect depends on the outline-color value. Duong Tuan Nghia-2021050472</p>
<p class="outset">An outset outline. The effect depends on the outline-color value. Duong Tuan Nghia-2021050472</p>
p.ex1 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
  }
  
  p.ex2 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: medium;
  }
  
  p.ex3 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thick;
  }
  
  p.ex4 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: 4px;
  }
  p.ex1 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: red;
  }
  
  p.ex2 {
    border: 2px solid black;
    outline-style: dotted;
    outline-color: blue;
  }
  
  p.ex3 {
    border: 2px solid black;
    outline-style: outset;
    outline-color: grey;
  }
  p.ex1 {
    outline-style: solid;
    outline-color: #ff0000; /* red */
  }
  p.ex1 {
    outline-style: solid;
    outline-color: rgb(255, 0, 0); /* red */
  }
  p.ex1 {
    outline-style: solid;
    outline-color: hsl(0, 100%, 50%); /* red */
  }
  p.ex1 {outline: dashed;}
p.ex2 {outline: dotted red;}
p.ex3 {outline: 5px solid yellow;}
p.ex4 {outline: thick ridge pink;}
p {
    margin: 30px;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
  }
  p {
    margin: 30px;
    background: yellow;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
  }
  body {
    color: blue;
  }
  
  h1 {
    color: green;
  }
  body {
    background-color: lightgrey;
    color: blue;
  }
  
  h1 {
    background-color: black;
    color: white;
  }
  
  div {
    background-color: blue;
    color: white;
  }
</body>
</html>
