<!DOCTYPE html>
<html>
<head>
<style>
p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}
</style>
</head>
<body>

<p>You can use the ::first-letter pseudo-element to add a special effect to the first character of a text! Duong Tuan Nghia-2021050472</p>
p.intro::first-letter {
    color: #ff0000;
    font-size: 200%;
  }
  p::first-letter {
    color: #ff0000;
    font-size: xx-large;
  }
  
  p::first-line {
    color: #0000ff;
    font-variant: small-caps;
  }
  h1::after {
    content: url(smiley.gif);
  }
  ::marker {
    color: red;
    font-size: 23px;
  }
  ::selection {
    color: red;
    background: yellow;
  }
</body>
</html>
