<form asp-action="Index">
    <input type="text" name="Fullname" placeholder="Nhap ten">
    <input type="text" name="Age" placeholder="Nhap tuoi">
    <input type="submit" value="Send" >
</form>
<h1>@ViewBag.massage</h1>