<form asp-action="Index">
    <input type="text" name = "PersonID" placeholder="Nhập vào ID">
    <input type="text" name = "Fullname" placeholder="Nhập họ và tên">
    <input type="text" name = "Address" placeholder="Nhập địa chỉ">
    <input type="submit" value="Send data">
</form>
<h1>Dữ liệu sinh viên: @ViewBag.message</h1>