<form asp-action="Index">
    <input type="text" name="EmployeeID">
    <input type="text" name="Fullname">
    <input type="text" name="Phonenumber">
    <input type="submit" value="send">
</form>
<h1>@ViewBag.send</h1>