@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Index">
    <label> Nhập họ tên : </label>
    <input type="text" name="Fullname" placeholder="Nhap ten">
    <label> Nhập địa chỉ : </label>
    <input type="text" name="Address" placeholder="Nhap dia chi" >
    <input type="submit" value="Send data">
</form>

