<form asp-action="Index">
    <input type="text" name="studentID">
    <input type="text" name="Fullname">
    <input type="text" name="Address">
    <input type="submit" value="Send">
</form>
<h1>@ViewBag.Student</h1>